#root {
    height: 100%;
    /* this really doesn't do anything - how to get minimum height? */
}

h1 {
    font-weight: 600;
    font-size: 80px;
    margin: 50px;
    color: rgb(6, 17, 20);
    font-family: din-condensed, sans-serif;
}

h2 {
    font-weight: 600;
    font-size: 62px;
    margin: 35px;
    color: rgb(6, 17, 20);
    font-family: din-condensed, sans-serif;
}

/* thead,
tfoot {
    background-color: transparent;
    color: #fff;
}

tbody {
    background-color: transparent;
}

table {
    border: none;
    letter-spacing: 1px;
    font-family: din-condensed, sans-serif;
    font-size: 24px;
    margin-bottom: 50px;
}

td {
    text-align: left;
    border-bottom: 1px solid black;
    font-weight: 500;
}
 */
