/* COLOR SCHEME,
rgb(6, 17, 20); (basically black)
#17252A (dark)
#2B7A78 (dark teal)
#3AAFA9 (mid teal)
#DEF2F1 (almost white)
#FEFFFF (white) */

h1 {
    font-weight: 600;
    font-size: 80px;
    margin: 50px;
    color: rgb(6, 17, 20);
    font-family: din-condensed, sans-serif;
}

h2 {
    font-weight: 600;
    font-size: 62px;
    margin: 35px;
    color: rgb(6, 17, 20);
    font-family: din-condensed, sans-serif;
}

thead,
tfoot {
    background-color: transparent;
    color: #fff;
}

tbody {
    background-color: transparent;
}

table {
    border: none;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 24px;
    margin-bottom: 50px;
}

td {
    text-align: left;
    border-bottom: 1px solid black;
    font-weight: 500;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* background: rgba(0, 0, 0, 0.7); */
    z-index: 10;
    /* width: 500 px; */
    /* height: 500 px; */
    /* border: solid; */
  }
  
  .modal-child {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border: solid;
  }