.nav-bar {
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: #2B7A78;
}

.nav-container {
    min-width: 250px;
    display: flex;
    justify-content: center;
}

#nav-right-container {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.greeting-text {
    text-decoration: none;
    color: #DEF2F1;
    padding-right: 15px;
    padding-left: 15px
}

#nav-mid-container {
    display: flex;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

#nav-left-container {
    display: flex;
}

.home-text {
    text-decoration: none;
    text-justify: center;
    color: #DEF2F1;
}

#logout {
    background-color: #DEF2F1;
    width: 75px;
    margin-right: 25px;
}