.nav-bar {
    display: flex;
    min-height: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFF64;
}

.nav-container {
    min-width: 250px;
    display: flex;
    justify-content: center;
}

#nav-right-loggedin {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding-left: 100px;
}

#nav-right-loggedout {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.greeting-text {
    text-decoration: none;
    color: black;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
}

#nav-mid-container {
    display: flex;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
}

#nav-left-container {
    display: flex;
}

.home-text {
    text-decoration: none;
    text-justify: center;
    color:black;
}

#logout {
    background-color: #DEF2F1;
    /* width: 75px; */
    /* margin-right: 25px; */
    border: solid black;
    font-size: 16px;
}

.links-bar {
    height: 41px;
    background-color: #121212;
}