#passage-show-container {
    display: flex;
    text-decoration: none;
    background-color: #3AAFA9;
    font-family: din-condensed, sans-serif;
    font-style: normal;
    justify-content: space-evenly;
}

#passage-container {
    padding-left: 50px;
    padding-right: 50px;
}

#annotations-container {
    padding-right: 50px;
    margin: 100px;
}

.passage {
    display: flex;
    flex-direction: column;
    white-space: pre-line;
}

.passage-line {
    padding: 12px;
    font-weight: 500;
    font-size: 18px;
}

.temp-header {
    font-weight: 600;
    font-size: 30px;
    margin: 35px;
    color: rgb(6, 17, 20);
    font-family: din-condensed, sans-serif;
    display: flex;
    flex-direction: column;
}

.highlighted {
    background-color: yellow;
}