#passage-show-container {
    display: flex;
    text-decoration: none;
    background-color: #3AAFA9;
    font-family: din-condensed, sans-serif;
    font-style: normal;
    justify-content: space-evenly;
}

#passage-container {
    padding-right: 300px;
}
/* 
#annotations-container {
    margin: 1px;
} */

.passage {
    display: flex;
    flex-direction: column;
    white-space: pre-line;
}

.passage-line {
    padding: 12px;
    font-weight: 500;
    font-size: 18px;
}

.title {
    font-weight: 600;
    font-size: 30px;
    color: rgb(6, 17, 20);
    font-family: din-condensed, sans-serif;
    padding-top: 60px;
    padding-bottom: 20px;
}

.author {
    font-weight: 600;
    font-size: 20px;
    font-family: din-condensed, sans-serif;
    padding-bottom: 40px;

}

.highlighted {
    background-color: yellow;
}