#passage-show-container {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background-color: #FFFFFF;
    font-family: din-condensed, sans-serif;
    font-style: normal;
}

.passage-show-header {
    display: flex;
    /* justify-content: space-evenly; */
    height: 180px;
    background-color: #363636;
}

.passage-internal-header {
    display: flex;
    align-items: center;
    justify-content: start;
    justify-items: start;
    min-width: 980px;
}

.passage-info {
    padding-bottom: 75px;
    /* padding-right: 00px; */
}

.author-large {
    height: 150px;
    padding-right: 20px;
    padding-left: 20px;
}

.header-sides {
    /* background-color: #ecf0f3; */
    background-color: #363636;
    width: 20%;
}

.title {
    font-weight: 600;
    font-size: 24px;
    color: #FFFF64;
    font-family: din-condensed, sans-serif;
}

.author {
    font-weight: 600;
    font-size: 21px;
    font-family: din-condensed, sans-serif;
    color: #FFFFFF;
}

#passage-container {
    width: 70%;
    padding-right: 300px;
    padding-bottom: 75px;
    padding-top: 50px;
}

.passage-sides {
    background-color: #ecf0f3;
    width: 15%;
}

#passage {
    margin-left: 20px;
}

.passage-line {
    padding: 3px;
    font-weight: 500;
    font-size: 18px;
}


.highlighted {
    background-color: #99F2A5;
}

.highlighted:hover {
    /* background-color: #38EF51; */
    cursor: pointer;
}