.errors {
    margin: 10px;
    color: rgb(255, 164, 164);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

#form-page {
    text-decoration: none;
    background-color: black;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: din-condensed, sans-serif;
    font-style: normal;
    position: relative;
    display: flex;
}

.auth-container {
    display: block;
    justify-content: center;
    justify-items: center;
    text-align: left;
    background-color: #363636;
    color: #FFFFFF;
    padding: 24px;
    min-width: 300px;
    font-size: 14px;
}

.auth-header {
    font-weight: 600;
    font-size: 62px;
    margin: 35px;
    color: #FFFFFF;
    font-family: din-condensed, sans-serif;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.form-field {
    padding: 10px;
}

input {
    width: 90%;
    margin-top: 5px;
}

.button {
    background-color: #262626;
    width: 100px;
    margin: 10px;
    color: #FFFFFF;
  }

.redirect-text {
    margin: 20px;
    color: #FFFFFF;
    font-weight: 400;
}

.link {
    color: #5BA7C2;
    text-decoration: none;
}